<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">

			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Search a Student</h1>
				<br>
				<div>
					<form th:action="@{/students/search/result}" method="GET">
						<div class="form-group">
							<label> Choose search type </label> &nbsp;&nbsp; <select
								name="searchoption" th:value="${searchoption}">
								<option value="FirstName">FirstName</option>
								<option value="LastName">LastName</option>
								<option value="Gender">Gender</option>
								<option value="Stream">Stream</option>
							</select> &nbsp;&nbsp; <input type="text" name="keyword"
								th:value="${keyword}" placeholder="Enter Student's First Name" />
						</div>
						<div class="box-footer" align="center">
							<button type="submit" class="btn btn-primary">Search</button>
						</div>
						<br>

					</form>
				</div>

			</div>
		</div>
	</div>
</body>
</html>